@font-face {
  font-family: "Hanken";
  src: url(/assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Hanken", Arial, Helvetica, sans-serif;
}

::before, ::after {
  box-sizing: border-box  ;
}

.bold {
  font-weight: bold;
}

.attribution { 
  font-size: 11px; text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.your-result{
  padding-top: 1rem;
  height: 40vh;
  color: white;
  text-align: center;
  background: linear-gradient(0deg, rgba(17, 13, 126, 0.85) 0%, rgba(21,17,173,0.8) 100%);
  border-radius: 0% 0% 10% 10%;
  display: flex;
  flex-direction: column;
}

.your-result-h2{
  opacity: 70%;
  margin-bottom: 1rem;
}

.punctuation {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.punctuation-number {
  width: 7rem;
  height: 7rem;
  padding: 1rem;
  margin: 0 auto;
  background: linear-gradient(0deg, rgb(27, 11, 169) 0%, rgb(62, 27, 161) 100%);
  
  border-radius: 100%;
  font-size: 4rem;
  font-weight: bold;
}

.punctuation-hundred {
  font-size: 1rem;
  display: block;
  opacity: 70%;
}

.scored-message {
  font-size: 1.2rem;
  opacity: 70%;
}

/* SUMMARY STYLES */

.summary-section {
  width: 90%;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.punctuation-box {
  padding: 1rem;
  width: 90%;
  margin: 0 auto;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
}


section.summary-section > article:nth-child(2) {
  background-color: rgba(255, 0, 0, 0.1);
  color: rgba(255, 0, 0, 0.5);
}

section.summary-section > article:nth-child(3) {
  background-color: rgba(255, 174, 0,0.1);
  color: rgba(255, 174, 0,0.5);
}

section.summary-section > article:nth-child(4) {
  background-color: rgba(59, 129, 115,0.1);
  color: rgba(59, 129, 115,0.5);
}

section.summary-section > article:nth-child(5) {
  background-color: rgba(0, 0, 139,0.1);
  color: rgba(0, 0, 139,0.5);
}

/* ESTILOS DEL BOTON */

.button-continue {
  margin: 0 auto;
  width: 95%;
  padding: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: rgb(38, 47, 71);
  border: none;
  border-radius: 1.5rem;
}

.button-continue:hover {
  cursor: pointer;
  background-color: rgb(27, 11, 169);
  transition: background-color 500ms;
}

footer 
{
  margin-top: 3rem;
}